.table-one {
    width: 40%;
    height: 200px;
    border: 4px purple solid;
    margin-bottom: 20px; 
    border-collapse: collapse;
}

.table-one td {
    border: 1px solid rgb(238, 0, 247);
}

.table-one tr:first-child {
    text-align: center;
}

.table-one tr:nth-child(2) {
    text-align: right;
    vertical-align: top;
    height: 150px;
}

.table-one td:first-child {
    width: 150px;
}

.table-two-container {
    border: 1px solid #999; 
    padding: 20px;
    width: fit-content;
}

.table-two {
    border-collapse: separate;
    border-spacing: 15px; 
}

.table-two td {
    border: 1px solid #00ffa6;    
    padding: 5px 30px;         
    min-width: 100px;
}

.caption {
    text-align: center;
    font-size: 14px;
    margin-top: 5px;
}

.table-three-container {
    border: 1px solid #ff1414; 
    padding: 20px 10px;        
    margin-top: 30px;
}

.table-three {
    width: 100%;               
    border-collapse: separate; 
    border-spacing: 30px 15px;
}

.table-three td {
    padding: 5px 10px;
}

.border-blue { border: 1px solid #87CEFA; }
.border-maroon { border: 1px solid #800000; }
.border-gray { border: 1px solid #A9A9A9; }

.table-four {
    width: 50%;
    border-collapse: collapse;
    margin-top: 30px;
    font-family: Arial, sans-serif;
}


.table-four td {
    border: 2px solid #008B8B; 
    padding: 10px; 
}


.table-four tr:first-child td {
    text-align: center; 
    color: #3b5a9d;
}


.table-four tr:nth-child(2) td {
    text-align: left;
    color: black; 
}


.table-four tr:nth-child(2) td:last-child {
    color: #d15286; 
}


.table-five {
    margin-top: 20px; 
    margin-bottom: 20px;
    width: 60%;
    border-collapse: collapse;
    border-top: hidden;
    border-bottom: hidden;
    border-left: 5px double #800080;
    border-right: 5px double #800080;
}

.table-five td {
    border: 1px solid #800080; 
    padding: 8px;
}

.table-five tr:first-child td:nth-child(1) {
    border-right: hidden; 
}

.table-five tr:first-child td:nth-child(2) {
    border-left: hidden;  
}


.table-five td:nth-child(1) { text-align: left; width: 25%; }
.table-five td:nth-child(2) { text-align: center; width: 50%; }
.table-five td:nth-child(3) { text-align: left; width: 25%; }

.bg-lightgreen {
    background-color: #32CD32; 
} 

.no-border-right { border-right: none !important; }
.no-border-left { border-left: none !important; }

.table-six {
    border-collapse: collapse;
    margin-top: 10px;
}

.table-six th, .table-six td {
    border: 1px solid #888;    
    padding: 5px 15px;        
    text-align: center;        
}

.table-six th {
    font-weight: bold;
}

.table-six td:first-child {
    text-align: left;
}

.table-seven {
    width: 60%;
    margin: 10px auto 30px auto;
    border-collapse: collapse;
    border: 3px solid #191970;
}

.table-seven td {
    border: 2px solid #191970;
    padding: 8px;
    text-align: left;
    vertical-align: top;
}

.bg-blue { background-color: #7ab3ff; }
.bg-rosy { background-color: #df8ba6; }
.bg-purple { background-color: #f72fff; }

.table-eight-outer {
    width: 100%;
    border-collapse: separate; 
    border-spacing: 2px;
    border: 3px double #5F9EA0;
}

.table-eight-outer > tbody > tr > td {
    border: 1px solid #5F9EA0;
    padding: 10px;
    vertical-align: top; 
}

.inner-table-teal {
    border-collapse: collapse;
}

.inner-table-teal td {
    border: 1px solid #5F9EA0;
    padding: 2px 10px;
}

.inner-table-purple {
    border-collapse: collapse;
    margin: 5px 0;
}

.inner-table-purple td {
    border: 2px solid #800080; 
    padding: 2px 5px;
}

.inner-table-purple caption {
    caption-side: bottom; 
    font-size: 14px;
    margin-top: 5px;
    color: black;
}
