
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #ffffff;
}


.box {
    width: 150px;
    padding: 15px;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.4;
    color: white;
}


.box u {
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 2px;
}


.box-static {
    position: static;
    background-color: #e60000; 
}


.box-relative {
    position: relative;
    left: 20px;
    background-color: #118011; 
}


.box-sticky {
    position: sticky;
    top: 10px;
    background-color: #d4b50c; 
    color: black;
    z-index: 10;
}


.container-relative {
    position: relative;
    width: 450px;
    height: 300px;
    border: 2px dashed #666;
    background-color: #f0f0f0;
    margin-top: 40px;
    padding: 15px;
}

.container-title {
    color: #4b0082;
    margin-bottom: 20px;
}


.box-absolute {
    position: absolute;
    top: 60px;
    right: 20px;
    background-color: #0000f0; 
}


.box-inherit {
    position: inherit;
    top: 100px;
    background-color: #f08c00; 
}


.box-fixed {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #800080; 
    z-index: 100;
}